.image {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;

  &--rosa {
    background-color: $backgroun-color-img-index;
  }

  &--verde {
    background-color: $backgroun-color-img-login;
  }

  &__img {
    width: 80%;
  }
}
